@import '../../../scss/settings/vars.scss';

.about-artist {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 20px;

  @media ( min-width: $breakpoint-md) {
    padding: 20px 100px 100px;
  }

  @media ( min-width: $breakpoint-md) {
    padding: 100px;
  }
}

.about-artist__wrapper-info {
  margin: 20px 0;
  position: relative;
}

.about-artist__title-name {
  color: $white;
  margin: 20px 0;

  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 40%;
  }
}

.list-artist-ui {
  display: inline-block;
  padding: 0;
  width: 250px;
}

.about-artist__item {
  color: $white;
  font-weight: bold;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
  @media (min-width: $breakpoint-lg) {
    font-size: $txt-medium;
  }
}

.about-artist__paragraph {
  color: $white;
  font-size: .9rem;
  opacity: .9;

  @media (min-width: $breakpoint-md) {
    width: 65%;
  }
  @media (min-width: $breakpoint-lg) {
    font-size: 1.1rem; 
  }
}

.external-link{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: $green;
  display: inherit;
  font-size: .9rem;
  margin-top: 10px;
  opacity: .9;
  padding-bottom: 10px;
  &:hover {
    animation: glitch 1.5s infinite linear;
  }

  @media (min-width: $breakpoint-md) {
    width: 65%;
  }
  @media (min-width: $breakpoint-lg) {
    font-size: 1.1rem; 
  }
}

.about-artist__subtitle {
  color: $white;
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: left;
}

.wapper-info {

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.about-artist__more-works {
  padding: 30px 0;

  h2 {
    text-align: left;
  }
}

.container-images {
  columns: 2;
}