* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: $white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

h1 {
  font-family: $title; 
  font-size: $txt-large;
  
  @media (min-width: $breakpoint-md) {
    font-size: $txt-x-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-huge;
  }
}

h2 {
  font-family: $title;
  font-size: $txt-large;
  letter-spacing: 3px;
  text-align: center;
  
  @media (min-width: $breakpoint-md) {
    font-size: $txt-x-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-x-huge;
  }
}

h3 {
  font-family: $title;
  font-size: $txt-medium;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-x-large;
  }
}

h4 {
  font-family: $title;
  font-size: $txt-medium;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-x-large;
  }
}

p { 
  font-family: $regular-txt;
  font-size: $txt-small;
  letter-spacing: 2px;
  line-height: 1.58;
  opacity: 0.8;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-medium;
  }
}

li {
  font-size: $txt-small;
  letter-spacing: 2px;
  line-height: 1.58;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-large;
  }
}

ul {
  font-family: $regular-txt;
  list-style: none;
}

.no-obras {
  text-align: center;
}

// estilos de boton para ver todas las obras (pagina principal)
.btn-obras {
  border: 2px solid $green;
  box-sizing: border-box;
  color: $green;
  display: block;
  font-family: $regular-txt;
  font-size: .9rem;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: -70px;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: all .35s;
  width: 180px;

  &:hover {
    color: $black;
  }

  &:hover:after {
    width: 100%;
  }

  &:after {
    background: $green;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .25s;
    width: 0;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 1rem;
    margin-bottom: 70px;
    margin-top: -105px;
    padding: 15px;
    width: 220px;
	}
}

.btn-obras__text {
  font-weight: bold;
  position: relative;
  z-index: 2;
}