@import '../../scss/styles.scss';

.media {
  padding-bottom: 5%;
  padding-top: 5%;

  @media (min-width: $breakpoint-md) {
    padding-top: 1%;
  padding-bottom: 2%;
  }

  @media (min-width: $breakpoint-xl) {
    padding-bottom: 1%;
  }
}

.media__icon {
  margin-left: 2%;
  width: 10%;

  @media (min-width: $breakpoint-md) {
    width: 5%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 4%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 2.5%;
  }
}

.media__icon--mgl {
  margin-left: 40%;

  @media (min-width: $breakpoint-lg) {
  margin-left: 35%;
  }

  @media (min-width: $breakpoint-xl) {
    margin-left: 30%;
  }

  @media (min-width: 1600px) {
    margin-left: 26%;
  }
}
