@import "../styles.scss";

.obra__item {
  @media (min-width: $breakpoint-md) {
    flex: 0 0 33%;
  }
}

.obra__item-details {
  max-width: 350px;
  text-align: center;
}

.obra__item-image {
  max-width: 100%;
}

.obra__item-tech {
  margin: 0;
}

.obra__item-title {
  margin-bottom: 0;
}

.obras__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 0;

  @media (min-width: $breakpoint-md) {
    justify-content: space-around;
  }
}