@import "../styles.scss";

.desc-pabellon {
  padding: 50px 20px;
  
  @media (min-width:$breakpoint-md) {
    padding: 0;
    width: 90%;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;    
    max-width: 980px;
  }
}

