@import '../../../scss/settings/vars.scss';

.face {
  background:url('../../../../static/face-verde.svg');
  height: 29px;
  width: 23px;

  @media (min-width: $breakpoint-md) {
    height: 40px;
    width: 40px;
  }
}

.insta {
  background: url('../../../../static/insta-verde.svg');
  height: 27px;
  width: 26px;

  @media (min-width: $breakpoint-md) {
    height: 43px;
    width: 43px;
  }
}

.wrapper-social{
  margin: 0 auto;
  padding: 30px 0;
  width: 50%;
}

.wrapper-social__block-icons {
  display: flex;
  justify-content: center;
}

.wrapper-social__icon {
  background-repeat: no-repeat;
  margin: 5px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.wrapper-social__title {
  color: $green;
  font-family: $title;
  font-size: $txt-small;
  font-weight: bold;
  margin: 0; 
  position: relative;
  text-align: center;
  text-transform: uppercase;
 
  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
}