@import '../../../scss/settings/vars.scss';


.btn-obras {
  border: 2px solid $green;
  box-sizing: border-box;
  color: $green;
  display: block;
  font-family: $regular-txt;
  font-size: .9rem;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: -70px;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: all .35s;
  width: 180px;

  &:hover {
    color: $black;
  }

  &:hover:after {
    width: 100%;
  }

  &:after {
    background: $green;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .25s;
    width: 0;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 1rem;
    margin-bottom: 70px;
    margin-top: -105px;
    padding: 15px;
    width: 220px;
	}
}

.btn-obras span {
  font-weight: bold;
  position: relative;
  z-index: 2;
}