@import '../../../scss/settings/vars.scss';

.work-pagination__item {
  color: $white;
  display: block;
  font-family: $title;
  padding: 2rem 0;
  text-transform: uppercase;

  @media (min-width: $breakpoint-md) {
    display: inline-block;
    padding: 4rem 0;
    width: 50%;
  }
}

.work-pagination__item--next {
  background: $turquoise url("../../../images/bg-Btn.png") no-repeat;

  &:hover {
    background-color: $turquoise-hover;
  }
}

.work-pagination__item--prev {
  background: $fucsia url("../../../images/bg-Btn.png") no-repeat;

  &:hover {
    background-color: $fucsia-hover;
  }
}

.work-pagination__wrap {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}